@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pokémon-themed colors */
.bg-pokemon-yellow {
    background-color: #FFDE00; /* Pikachu yellow */
}

.text-pokemon-red {
    color: #FF0000; /* Pokémon red */
}

.text-pokemon-blue {
    color: #3B4CCA; /* Pokémon logo blue */
}

/* Pokémon-style font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.font-pokemon {
    font-family: 'Press Start 2P', cursive;
}
